/home/kalilearn/workspace/hacklab/PythonContainer/myapps
/home/kalilearn/workspace/hacklab/academy/
/home/bruno/workspace/hacklab/starting_point_Patota.ovpn
/home/kalilearn/workspace/hacklab/lpci/LPI-Learning*
/home/kalilearn/workspace/hacklab/updown/venv